<tr data-feed-id='<%= feed.id%>'>
        <td>
            <div class="media">
              <div class="media-left">
                <h4><%= feed.feedable_type %></h4><br/>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><strong><%= feed.company.name %></strong></h4>
                <%= feed.content %>
                <br/>
                <small><%= feed.created_at %></small>
              </div>
            </div>

        </td>
      </tr>
     
    