
      <tr data-feed-id='<%= feed.id%>'>
        <td><%= feed.feedable_type %></td>
        <td><%= feed.organization.name %></td>
        <td><%= feed.created_at %></td>
        <td><%= feed.content %></td>
      </tr>
    