
    <%= form_for [@company, @task],html: { id: 'new_task'},remote: true do |f| %>
          <% if @task.errors.any? %>

              <div id="error_explanation">
                <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

                <ul>
                    <% @task.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                </ul>
              </div>

         <% end %>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>


        <div class="form-group">
          <%= f.label :completed_on %><br/>
          <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <%= f.text_field :completed_on, class: "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                  format: "DD/MM/YYYY"
                });
            });
            </script>
        </div>

        <%= f.hidden_field :company_id, value: @company.id %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :organization_id, value: current_user.organization.id %>

       <div class="form-group">
            <%= f.label :Assign_to %><br/>
            <%= f.select :assign_to, options_from_collection_for_select(@users, "id", "email"),class: "form-control" %><br />
        </div>


        <div class="form-group actions">
          <%= f.submit class: "btn btn-default btn-success" %>
        </div>
  <% end %>
