
<tr data-task-id='<%= task.id%>'>
  <td>
      <div class="media">
              <div class="media-left">

              </div>
              <div class="media-body">
                <div class="media-heading">
                    <%= link_to complete_company_task_path(@company, task), method: :put,remote: true,
                     style: 'margin-right:10px;' do %>
                     <%= icon 'square-o '%>
                     <%end%>
                     <%= task.completed_on.to_formatted_s(:long) %>
                     <%= task.description %>
                </div>
                <%= task.assigned.nil? ? '-' : task.assigned.username %>
                &nbsp;&nbsp;

                <%= link_to edit_company_task_path(@company,task),remote: true,
                'data-toggle': "modal",'data-target': "#myModal", style: 'margin-right:10px;' do %>
                <%= icon 'pencil'%>
                Edit
                <%end%>


                <%= link_to company_task_path(@company,task), remote: true,
                method: :delete, data: { confirm: 'Are you sure?' },
                style: 'margin-right:10px;' do %>
                <%= icon 'trash'%>
                Delete
                <%end%>
              </div>
        </div>
    </td>

</tr>
