
<tr data-task-id='<%= task.id%>'>
  <td>
      <div class="media">
              <div class="media-left">

              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= task.description %></h4>
                <strong><h5>Assigned To:</h5></strong><%= task.assigned.email %>
                <br/>

                 <strong><small>Created by:</small></strong><%= task.user.email %>
                 <br/>

                <strong><small>Due Date:</small></strong><%= task.completed_on %>
                <br />

                <%= link_to complete_company_task_path(@company, task), method: :put,remote: true,
                 style: 'margin-right:10px;' do %>
                 <%= icon 'square-o '%>
                 <%end%>

                <%= link_to edit_company_task_path(@company,task),remote: true,
                'data-toggle': "modal",'data-target': "#myModal", style: 'margin-right:10px;' do %>
                <%= icon 'pencil'%>
                Edit
                <%end%>


                <%= link_to company_task_path(@company,task), remote: true,
                method: :delete, data: { confirm: 'Are you sure?' },
                style: 'margin-right:10px;' do %>
                <%= icon 'trash'%>
                Delete
                <%end%>
              </div>
        </div>
    </td>

</tr>
