
<tr data-task-id='<%= task.id%>'>
  <td>
      <div class="media">
              <div class="media-left">
               
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= task.description %></h4>
                <strong><h5>Assigned To:</h5></strong><%= task.assigned.email %>
                <br/>

                 <strong><small>Created by:</small></strong><%= task.user.email %>
                 <br/>

                <strong><small>Due Date:</small></strong><%= task.completed_on %>
                <br />

                <strong><small>Status :</small></strong><%= task.is_completed %>
                <br />

                <%= link_to 'Edit', edit_company_task_path(@company,task),remote: true, 'data-toggle': "modal",'data-target': "#myModal", style: 'margin-right:10px;' %>

                <% unless task.is_completed %>
                <%= link_to 'Complete', complete_company_task_path(@company, task), method: :put,remote: true,
                style: 'margin-right:10px;' %>
                <% end %>


                <%= link_to 'Destroy', company_task_path(@company,task), remote: true, method: :delete, data: { confirm: 'Are you sure?' },
                  style: 'margin-right:10px;' %>
              </div>
        </div>
    </td>

</tr>


