<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @task.company.name %>
</p>

<p>
  <strong>Completed on:</strong>
  <%= @task.completed_on %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @task.user.email %>
</p>

<p>
  <strong>Assign to:</strong>
  <%= @task.assigned.email %>
</p>

<p>
 <strong>Status</strong>
 <%= @task.is_completed %>
</p>

  <% if @task.is_completed == false %>
  
        <%= form_for [@company, @task] do |f| %>
         
         <div>
          <%= f.label :Status %>
          <%= f.check_box :is_completed %> Completed</br></br>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>

        <% end %>
<% end %>      



<%= link_to 'Edit', edit_company_task_path(@company,@task) %> |
<%= link_to 'Back', company_tasks_path(@company) %>
