<div class="row">
  <div class="col-md-6">
    <h3><%= icon 'envelope'%> <%= @user.email %></h3>
    <h3><%= icon 'building'%> <%= @user.organization.name %></h3>
    <%= link_to "Invite", new_user_invitation_path %>
  </div>
</div>
