<tr data-company-id='<%= company.id%>'>
  <td>
    <div class="media">
      <div class="media-left">
        <h3><strong><%= icon 'building' %></strong></h3><br/>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to company.name, company %>
        </h4>
          <%=icon 'phone' %>&nbsp;&nbsp;<%= company.contact %>
          <br/>
          <%= company.organization.name %>
          <br/>
          <small><%= link_to edit_company_path(company),
          remote: true,'data-toggle': "modal",'data-target': "#myModal" do %>
            <%= icon 'pencil' %>
            Edit
            <%end%>
          </small>
          &nbsp;&nbsp;
          <small><%= link_to company, method: :delete,
              data: { confirm: 'Are you sure?' } do %>
              <%= icon 'trash' %>
              Delete
              <%end%>
          </small>
        </div>
      </div>
  </td>
</tr>
