 <tr data-company-feed-id='<%= feed.id%>'>
  <td>
    <div class="media">
              <div class="media-left">
                <h3><strong><%= feed.feedable_type %></strong></h3><br/>
              </div>
                  <div class="media-body">
                        <h4 class="media-heading"><%= feed.content %></h4>
                           <%= feed.created_at %><br/>
                           <%= feed.organization.name %><br/>
                        
                        <% if feed.feedable_type=='Note' %>

                         <strong><%= link_to 'Edit',edit_company_note_path(feed.company_id,feed.feedable_id),remote: true, 'data-toggle': 
                         "modal",'data-target': "#myModal"  %></strong>
                          <strong><%= link_to 'Destroy', company_note_path(feed.company_id,feed.feedable_id), method: :delete, data: { confirm: 
                            'Are you sure?' } %></strong>
                        
                        <% else %>
                          <strong><%= link_to 'Edit', edit_company_task_path(feed.company_id,feed.feedable_id),remote: true, 'data-toggle': "modal",'data-target': "#myModal"  %></strong>
                          <strong><%= link_to 'Destroy', company_task_path(feed.company_id,feed.feedable_id), method: :delete, data: { confirm: 'Are you sure?' } %></strong>

                        <% end %>
                  </div>
        </div>
  </td>
</tr>


