<tr data-organization-task-id='<%= task.id%>'>
  <td>
    <div class="media">
      <div class="media-left">
        <h4>
          <%if task.is_completed == false %>
          <%= icon 'square-o' %>
          <%else%>
          <%= icon 'check-square'%>
          <%end%>
        </h4>
        <br/>
      </div>
      <div class="media-body">
         <strong class="media-heading">&nbsp;<%= link_to task.description, company_path(task.company_id) %></strong><br/>
        &nbsp;<%= task.company.name %>
        <br/>
        <%= icon 'user'%>&nbsp;<%= task.assigned.nil? ? '-' : task.assigned.username %>
        <br/>
        <small><%= icon 'pencil'%>&nbsp;<%= task.created_at.to_date %></small>
        &nbsp;&nbsp;
        <small><%= icon 'check-square-o'%>&nbsp;<%=task.completed_on.nil? ? '-': task.completed_on.to_date %></small>
      </div>
    </div>
  </td>
</tr>
