<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
            <table id="organization-task" class="table table-striped table-bordered table-hover ">
              <tbody>
              <%= render partial: 'organizations/task', collection: @tasks %>
              </tbody>
           </table>
    </div>

    <%= form_tag organizations_path, method: :get, class: "form-inline", id: "filter_form", remote: :true do %>
        <%= hidden_field_tag "mode"%>
        <%= hidden_field_tag "day"%>
        <%= hidden_field_tag "user"%>
    <%end%>

  </div>

  <div class="col-md-4 offset-8">
    <div class="panel panel-default">
        <strong> Filter</strong>
          <div class="panel-body">

            <h5 style="margin-bottom:8px;">Mode</h5>
            <ul data-mode-selector="mode-task" class="list-inline">
              <li data-mode-option="due"><span class="label label-default">Due</span></li>
              <li data-mode-option="complete"><span class="label label-default">Complete</span></li>
            </ul>

            <h5 style="margin-bottom:8px;">Date</h5>
            <ul data-day-selector="day-task">
              <li data-day-option="all"><span class="label label-default">All</span></li>
              <li data-day-option="overdue"><span class="label label-default">Overdue</span></li>
              <li data-day-option="yesterday"><span class="label label-default">Yesterday</span></li>
              <li data-day-option="earlier"><span class="label label-default">Earlier</span></li>
              <li data-day-option="today"><span class="label label-default">today</span></li>
              <li data-day-option="tomorrow"><span class="label label-default">Tomorrow</span></li>
            </ul>

            <h5 style="margin-bottom:8px;">Date</h5>
            <ul data-user-selector="user-assign-task">
            <% @opt2.each do |user| %>
              <li data-user-id='<%= user.id%>'><span class="label label-default"><%= user.username %></span></li>
            <%end%>
            </ul>
          </div>
    </div>
  <div>
</div>

<script type="text/javascript">

  $(document).on("turbolinks:load", function(){
    $("[data-mode-selector='mode-task'] li span").on("click",function(){
      $("[data-mode-selector='mode-task'] li span").removeClass("label-primary")
      var value=$(this).closest('li').attr("data-mode-option")
      console.log(value)
      if(value=="due")
      {
        $("[data-day-selector='day-task'] li").hide();
        $("[data-day-selector='day-task'] li").each(function(){
          var name=$(this).attr("data-day-option");
          if(name=="all" || name=="overdue" ||name=="yesterday"  || name=="today" || name=="tomorrow")
          {
            $(this).show();

          }
        });
      }
      else
      {
        $("[data-day-selector='day-task'] li").hide();
        $("[data-day-selector='day-task'] li").each(function(){
          var name=$(this).attr("data-day-option");
          if(name=="all" || name=="earlier" ||  name=="yesterday" || name=="today" )
          {
            $(this).show();

          }
        });
      }

      $(this).addClass("label-primary")
      $("#mode").val(value);
      $("#filter_form").submit();
    });

    $("[data-day-selector='day-task'] li span").on("click",function(){
      var day=$(this).closest('li').attr("data-day-option")
      $("[data-day-selector='day-task'] li span").removeClass("label-primary")
      $(this).addClass("label-primary")
      $("#day").val(day);
      $("#filter_form").submit();
    });

    $("[data-user-selector='user-assign-task'] li span").on("click",function(){
      $("[data-user-selector='user-assign-task'] li span").removeClass("label-primary")
        $(this).addClass("label-primary")
      var value=$(this).closest('li').attr("data-user-id")
      $("#user").val(value)
      $("#filter_form").submit();
    });
  });
</script>
