<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
            <table id="organization-task" class="table table-striped table-bordered table-hover ">
              <tbody>
              <%= render partial: 'organizations/task', collection: @tasks %>
              </tbody>
           </table>
    </div>

    <%= form_tag organizations_path, method: :get, class: "form-inline", id: "filter_form", remote: :true do %>
        <%= hidden_field_tag "mode"%>
        <%= hidden_field_tag "day"%>
        <%= hidden_field_tag "user"%>
    <%end%>

  </div>

  <div class="col-md-4 offset-8">

        <strong> Filter</strong>


            <h5 style="margin-bottom:8px;">Mode</h5>
            <ul data-mode-selector="mode-task" class="list-inline">
              <li data-mode-option="due"><span class="label label-default">Due</span></li>
              <li data-mode-option="complete"><span class="label label-default">Complete</span></li>
            </ul>

            <h5 style="margin-bottom:8px;">Date</h5>
            <ul data-day-selector="day-task">
              <li data-day-option="all"><span class="label label-default">All</span></li>
              <li data-day-option="overdue"><span class="label label-default">Overdue</span></li>
              <li data-day-option="yesterday"><span class="label label-default">Yesterday</span></li>
              <li data-day-option="earlier"><span class="label label-default">Earlier</span></li>
              <li data-day-option="today"><span class="label label-default">today</span></li>
              <li data-day-option="tomorrow"><span class="label label-default">Tomorrow</span></li>
            </ul>

            <h5 style="margin-bottom:8px;">Date</h5>
            <ul data-user-selector="user-assign-task">
            <% @opt2.each do |user| %>
              <li data-user-id='<%= user.id%>'><span class="label label-default"><%= user.username %></span></li>
            <%end%>
            </ul>


  <div>
</div>
