<div class="row">
  <div class="col-md-8">
    <div>
      <%= form_tag organizations_path, method: :get, class: "form-inline" do %>
          <div class="form-group">
              <%= select_tag "option", options_for_select(@opt.collect {|p| [ p['name'], p['id'] ] }, params[:option]) %>
          </div>
          <div class="form-group">
            <%= submit_tag "Search", class: "btn" %>
          </div>
        <% end %>
    </div>
    <br/>

    <div class="panel panel-default">
        <% @tasks.each do |task|%>
            <table class="table table-striped table-bordered table-hover">
              <tbody>
                <tr>
                  <td>
                    <div class="media">
                      <div class="media-left">
                        <h4>
                          <%if task.is_completed == false %>
                          <%= icon 'square-o' %>
                          <%else%>
                          <%= icon 'check-square'%>
                          <%end%>
                        </h4>
                        <br/>
                      </div>
                      <div class="media-body">
                         <strong class="media-heading">&nbsp;<%= link_to task.description, company_path(task.company_id) %></strong><br/>
                        &nbsp;<%= task.company.name %>
                        <br/>
                        <%= icon 'user'%>&nbsp;<%= task.assign_to %>
                        <br/>
                        <small><%= icon 'pencil'%>&nbsp;<%= task.created_at %></small>
                        &nbsp;&nbsp;
                        <small><%= icon 'check-square-o'%>&nbsp;<%= task.completed_on %></small>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        <%end%>
    </div>
  </div>
</div>
