<div class="row">
  <div class="col-md-8">
    <div class ="row">

      <div class="col-md-2">
      <%= form_tag organizations_path, method: :get, class: "form-inline", id: "select_form", remote: :true do %>
        <div class="form-group">
            <%= label_tag 'Due' %>
            <%= select_tag "option", options_for_select(@opt.collect {|p| [ p['name'], p['id'] ] }, params[:option]) %>
        </div>
      <% end %>
    </div>

      <div class="col-md-2 offset-2">
        <%= form_tag organizations_path, method: :get, class: "form-inline", id: "select_form1", remote: :true do %>
          <div class="form-group">
            <%= label_tag 'Complete' %>
            <%= select_tag "option1", options_for_select(@opt1.collect {|p| [ p['name'], p['id'] ] }, params[:option1]) %>
          </div>
        <% end %>
        </div>

        <div class="col-md-2 offset-4">
        <%= form_tag organizations_path, method: :get, class: "form-inline", id: "select_form2", remote: :true do %>
          <div class="form-group">
            <%= label_tag 'User' %>
            <%= select_tag "option2", options_for_select(@opt2.collect {|p| [ p['username'], p['id'] ] }, params[:option2]) %>
          </div>
        <% end %>
      </div>
    </div>

    <br/>

    <div class="panel panel-default">
            <table id="organization-task" class="table table-striped table-bordered table-hover ">
              <tbody>
              <%= render partial: 'organizations/task', collection: @tasks %>
              </tbody>
           </table>
    </div>
  </div>
</div>
